<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invoice #{{ invoiceInformation.identifier }}</title>
</head>

<body>
  <div class="row justify-content-space-between align-items-center">
    <div>
      <p class="small-margin bold">{{ senderInformation.name }}</p>
      <p class="small-margin">{{ senderInformation.streetAddress }}</p>
      <p class="small-margin">{{ senderInformation.cityStateZip }}</p>
      <p class="small-margin">{{ senderInformation.phone }}</p>
      <p class="small-margin">{{ senderInformation.email }}</p>
    </div>
    <div>
      <img class="logo" src="{{ senderInformation.logoUrl }}" alt="">
    </div>
  </div>

  <p class="invoiceTitle uppercase">Invoice</p>

  <div class="row justify-content-space-between" style="margin-top: 18px">
    <div>
      <p class="bold margin-reset">BILL TO</p>
      <p class="small-margin">{{ receiverInformation.name }}</p>
      <p class="small-margin">{{ receiverInformation.businessName }}</p>
      <p class="small-margin">{{ receiverInformation.streetAddress }}</p>
      <p class="small-margin">{{ receiverInformation.cityStateZip }}</p>
    </div>
    <div class="row">
      <div class="column align-items-flex-end" style="padding-right: 6px">
        <p class="small-margin bold uppercase">
          Invoice #
        </p>
        <p class="small-margin bold uppercase">
          Date
        </p>
        <p class="small-margin bold uppercase">
          Due Date
        </p>
        <p class="small-margin bold uppercase">
          terms
        </p>
      </div>
      <div class="column align-items-flex-start">
        <p class="small-margin">
          {{ invoiceInformation.identifier }}
        </p>
        <p class="small-margin">
          {{ invoiceInformation.date }}
        </p>
        <p class="small-margin">
          {{ invoiceInformation.dueDate }}
        </p>
        <p class="small-margin">
          {{ invoiceInformation.terms }}
        </p>
      </div>
    </div>
  </div>

  <hr class="branded-hr" />

  <table style=" width:100%; border-collapse: collapse;">
    <tr>
      <th class="header">Date</th>
      <th class="header">Service</th>
      <th class="header align-right">QTY</th>
      <th class="header align-right">Rate</th>
      <th class="header align-right">Amount</th>
    </tr>
    {{#each invoiceInformation.items}}
    <tr>
      <td class="min-width-data">{{ date }}</td>
      <td class="min-width-data">
        <p class="bold small-margin">{{ service.title }}</p>
        <p class="margin-reset">{{ service.description }}</p>
      </td>
      <td class="min-width-data align-right">{{ formatCurrencyAsUSD quantity }}</td>
      <td class="min-width-data align-right">{{ formatCurrencyAsUSD rate }}</td>
      <td class="min-width-data align-right">{{ formatCurrencyAsUSD (multiplyBy quantity rate) }}</td>
    </tr>
    {{/each}}
  </table>

  <hr class="dotted-hr" />

  <div class="row justify-content-space-between" style="padding-top: 12px;">
    <p class="small-margin">All amounts shown in USD. </p>
    <div class="row justify-content-space-between">
      <div class="min-width">
        <p class="small-margin">PAYMENT</p>
        <p class="small-margin">BALANCE DUE</p>
      </div>
      <div style="text-align: right;">
        <p class="small-margin">{{ formatCurrencyAsUSD invoiceInformation.totalCost }}</p>
        <p class="balance-due small-margin">{{ formatCurrencyAsUSD invoiceInformation.balanceDue }}</p>
      </div>
    </div>
  </div>
</body>

</html>