<p>Hello, my name is {{defaultContext.name}}. I am from {{defaultContext.hometown}}. I have
  {{defaultContext.kids.length}} kids:</p>

<ul>{{#kids}}<li>{{defaultContext.name}} is {{defaultContext.age}}</li>{{/kids}}</ul>